:root{
    --bakeli-yellow:#FF9600;
    --bakeli-green:#009688;
    --bakeli-btn-red:#f44336;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

#navigation{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, #fff, #f5f5f5);
}

.logo{
    width: 80px;
}
.nav-item{
    margin-left: auto;

}
.nav-item:nth-child(7){
    color: #ffffff;
    background-color: var(--bakeli-yellow);
    /* padding: 10px 10px; */
    border-radius: 3px;
    border: solid #000000 0px;
    max-height: 45px;
    opacity: 0.8;
    transition: 0.3s;
}
.nav-item:nth-child(7):hover{
    background-color: var(--bakeli-green);
    border: solid #000 0px;
    opacity: 1;

}
.nav-item:nth-child(7) .nav-link{
    color: #fff;
}
.nav-item:nth-child(7) .nav-link:hover{
    color: #fff;
}
.nav-item:nth-child(8){
    margin-left: 2.5rem;
}

.navbar-nav li a{
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-nav{
    margin-left: auto;
    width: 80%;
}

.navbar-brand{
    padding-left: 2.5rem;

}
.main{
    margin-top: 5rem;
}
.information{
    background: var(--bakeli-green);
    border-radius: 2%;

}
.information p{
    color: #fff;
    font-size: 1.2rem;
}
.btn{
    margin: .5rem;
    text-transform: capitalize;
}
.container{
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
}
#presentation .container{
    display: flex;
    margin-bottom: 5rem;
}
.diplomes .container{
    display: flex;
    margin-bottom: 5rem;
}
.formation .container{
    display: flex;
    margin-bottom: 5rem;
}


.info-1{
    width: 100%;
    background: var(--bakeli-green);
    padding: 2.5rem;
    border-radius: 14px;
    color: #fff;

}

.info-2{
    width: 70%;
    border:1px solid var(--bakeli-green);
    margin-left: .5rem;
    padding: 2.5rem;
    border-radius: 14px;
}

ul{
    list-style: none;
}

.img-it{
    width: 16%;
    margin: .5rem;
}

.information{
    margin: 2rem;
}
.groupped .btn{
    padding: 4rem;
    border-radius: 10%;
    width: 20%;
    margin: 1.4rem;
}
.groupped .btn:hover{
    background: none;
}
.groupped .btn:nth-child(2){
   border: 1px solid var(--bakeli-green);
}
.groupped .btn:nth-child(4){
   border: 1px solid var(--bakeli-yellow);
}
.groupped .btn:nth-child(3){
    border: 1px solid var(--bakeli-green);
}
.groupped img{
    width: 100%;
}
.diplomes{
    background: var(--bakeli-btn-red);
    width: 80%;
    margin-left: 4rem;
}
article{
    padding: 2rem;
    margin: 2rem;
    color: #fff;
}
#coachs{
    margin: 5rem 0;
}
*{
    max-width: 100%;
}

#activites{
    background: var(--bakeli-btn-red);
    margin-bottom: 5rem;
}

.partenaire{
    padding: 1rem;
    background: #f2ffff;
}

footer{
    background: var(--bakeli-green);
    padding: 3rem 5rem 5rem 5rem;
}

.footer{
    float: right;
}